.xingming{
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.kehuList{
    padding: 10px;
    .img{
        width: 15px;
        position: relative;
        top: 1px;
    }
    .span1{
        width: 90px;
        display:inline-block;
    }
    .span2{
        width: 130px;
        display:inline-block;
        margin-left: 16px;
    }
}