.performance{
    .fazhanquan{
        display: flex;
        height: 50px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        line-height: 50px;
        span{
            flex: 1;
            text-align: center;;
        }
    }
    .fazhanlian{
        span{
            position: initial !important;
            margin-left: 3px;
            font-size: 13px !important;
            color: #999 !important;
        }
    }
    .fazhanlian{
     font-size: 13px;
     margin-top: 7px;
     margin-bottom: 5px;
        img{
            width: 15px !important;
            height: auto !important;
            position: relative;
            top: 3px;
            margin-left: 4px;
        }
    }
    .typeInde{
        color: #41b497;
    }
    .divname{
        height: 36px;
        line-height: 36px;
        margin: 0 auto;
        width: 94%;
        border-bottom: 1px solid #F5EEEE;
        font-size: 15px;
    }
    .input{
        height:45px;
        background:rgba(255,255,255,1);
        line-height: 45px;
        font-size: 13px;
        border-bottom: 1px solid #eee;
        span:nth-of-type(1){
            width: 22%;
            display: inline-block;
            text-indent: 15px;
        }
        span:nth-of-type(2){
            width: 72%;
            display: inline-block;
        }
    }
    button{
        position: fixed;
        width: 100%;
        background:rgba(65,180,151,1);
        color: white;
        border: 0;
        bottom: 0;
        height:49px;
    }
    .title{
        position: relative;
        top: 0;
        width: 95%;
        margin: 0 auto;
        font-size: 0.48rem;
        margin-top: 0.266667rem;
        text-align: center;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main{
        line-height: 21px;
        align-items: center;    
        padding-bottom: 8px;
        padding-bottom: 8px;
        position: relative;
        font-size: 15px;
        border-bottom: 1px solid #eee;
        .mainname{
            margin: 0 auto;
            width: 94%;
        }
        img{
            margin-right: 10px;
            width: 33px;
            height: 33px;
        }
        span:nth-of-type(2){
            font-size: 13px;
            position: absolute;
            right: 18px;
            color:rgba(218,54,59,1);
        }
    }
    .div-xiaoshou{
        padding-bottom: 58px;
        .xiaoshou{
            height: 50px;
            line-height: 50px;
            border-top: 6px solid #eee;
            display: flex;
            span{
                flex: 1;
                text-align: center;
            }
        }
    }
}